.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.layout .sidebar {
  min-width: none !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 1;
}

.layout .sidebar .panel-group {
  /* margin-top: 30px; */
}


.layout .sidebar .panel-collapse {
  max-height: 500px;
  overflow: hidden;
  transition: max-height .5s ease;
}
.layout .sidebar .panel-collapse .collapse-item{
border: none;
}
.layout .sidebar .panel-close {
  max-height: 0;
}

.nav-bar-outer {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-bar-outer .nav-item {
  margin: 0px 10px;
}
.nav-bar-outer .nav-bar-section-1 .sidebar-toggle-btn {
  background: none;
  border: none;
}
.nav-bar-outer .nav-bar-section-2 {
  display: flex;
}
.nav-bar-outer .nav-bar-section-2 .user-info {
  display: flex;
}
.nav-bar-outer .nav-bar-section-2 .user-info .user-info-individual {
  padding: 5px;
  border: 1px solid #7777774a;
  color: red;
}

.nav-bar-outer .nav-bar-section-2 .user-info a {
  text-decoration: none !important;
  color: inherit !important;
}
.nav-bar-outer .nav-bar-section-2 .search-bar {
  border: 1px solid #7777774a;
  padding: 5px;
  height: 100%;
}
.nav-bar-outer .nav-bar-section-2 .search-bar input {
  border: none;
  height: 100%;
}
.nav-bar-outer .nav-bar-section-2 .search-bar input:focus-visible {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#portal .modal-container {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.modal-container .modal {
  z-index: 1;
  width: 1057px;
  height: fit-content;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}
.modal-container .modal .modal-inner {
  height: 100%;
  width: 100%;
}
.modal-container .modal .modal-inner button{
  background: none;
  border: none;
}
.modal-container .modal .modal-inner .header{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: #FF0000;
}

.modal-container .modal .modal-inner .print-btn-section{
  display: flex;
  margin-top: 40px;
}

.modal-container .modal .modal-inner .print-btn-section .thermal-print-btn{
  background: #FFFAFA;
  border: 1px solid #cfcfcf;
  padding: 5px 17px;
}

.modal-container .modal .modal-inner .print-btn-section .horizontal-print-btn{
  background: #FF0000;
  color: white;
  /* border: 1px solid #000000; */
  padding: 5px 17px;
}

/* .modal button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sideMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 5% 0px 5%;
  overflow: hidden;
}
.sideMenu hr {
  margin: 10px 0px;
}
.sideMenu .menu-item-container {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 40px;
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
}
.sideMenu .menu-item-container .menu-item:hover {
  font-weight: bold;
}

.sideMenu .menu-item-container a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.sideMenu .menu-item-container a:hover {
  font-weight: bold;
}
